node_modules/

# Compilation output
dist/

# Tests
coverage

# Production subgraph
generated
subgraph.yaml

.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*

tsconfig.tsbuildinfo

# IDE specific
.graphqlconfig
.vscode

# packages README files
packages/*/README.md

packages/*/yarn-error.log